.button-available {
    background-color: #C1D72F;
    border-radius: 6px;
}

.button-notAvailable {
    background-color: #e00909;
    color: white;
    border-radius: 6px;
}

@media (max-width: 1130px) {
    .information-book {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 120%;
    }
    .book-card {
        display: flex;
        justify-content: center;
        width: 85%;
    }
  }