.grid-books {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media (max-width: 1420px) {
  .grid-books {
      grid-template-columns: repeat(3, 1fr);
  }
  
  @media (max-width: 940px) {
      .grid-books {
      grid-template-columns: repeat(2, 1fr);
      }
      
      @media (max-width: 500px) {
      .grid-books {
          grid-template-columns: repeat(1, 1fr);
      }
      }
  }
}

@keyframes moveCard {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(-10px); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.book-card:hover {
animation: moveCard 0.3s ease-in-out;
}